*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin-left: 40px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #42d3ec;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 30px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #42d3ec;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #42d3ec;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/* content */
.gellery{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.image1 img{
    width: 600px;
    height: 600px;
}
.image2 img{
    width: 395px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.image3 img{
    width: 395px;
    height: 395px;
    position: absolute;
    right: 0px;
    top: 205px;
}
.image4 img{
    width: 495px
}
.image5 img{
    width: 500px;
    height: 585px;
    position: absolute;
    left: 500px;
    top: 605px;
}
.image6 img{
    width: 500px;
    position: absolute;
    right: 0px;
    top: 1195px;
}