*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin-left: 40px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #42d3ec;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 30px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D4F5E8;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #42d3ec;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/* content */
.gellery{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.image img{
    width: 100%;
    margin: 0 auto;
}
.image{
    display: block;
    overflow: hidden;
    transform: scale(1);
}
.image:hover img{
    transition: 1s all;
    transform: scale(1.2);
}
.image:hover::after img{
    transition: 0.3s;
    transform: scale(1);
}
/* 푸터 */
#inner-container{
    height: 500px;
    position: relative;
    background-color: #D4F5E8;
}
.txt1{
    font-weight: 300;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.txt2{
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.box{
    width: 600px;
    margin: 0px auto;
    margin-top: 30px;
}
#box1{
    border: 1px solid black;
    padding: 10px 0;
    padding-left: 20px;
}
#box2{
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 0;
    padding-left: 20px;
}
#box3{
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 20px;
    height: 100px;
}
.box:hover #box1{
    transform: border 2px;
}