*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin-left: 40px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position : fixed;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:  rgb(194, 192, 192);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 30px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid grey;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(194, 192, 192);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/* content */
.gellery{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.image img{
    width: 100%;
    margin: 0 auto;
}
.image{
    display: block;
    overflow: hidden;
    transform: scale(1);
}
.image:hover img{
    transition: 1s all;
    transform: scale(1.2);
}
.image:hover::after img{
    transition: 0.3s;
    transform: scale(1);
}
/* frofile*/
#FROFILE{
    position: relative;
    top: 30px;
}
#fro img{
    width: 300px;
}
#fro{
    position: relative;
    left: 300px;
    width: 1000px;
    top: 100px;
}
#txtx1{
    position: absolute;
    left: 420px;
    top: 0px;
    font-size: 25px;
    font-weight: 100;
    border-left: 1px solid black;
    height: 300px;
    padding-left: 100px;
}
#txtx{
    margin-bottom: 20px;
}
#boldfamily3{
    position: relative;
    top: 100px;
    left: 80px;
    width: 500px;
}
#boldfont3{
    position: absolute;
    font-weight: 700;
    font-size: 120px;
    top: -50px;
    left: -30px;
}
#boldfontgray3{
    font-weight: 700;
    font-size: 120px;
    color: rgb(163, 163, 163);
}
/* port */
/* 굵은 글씨 */
#boldfamily{
    position: relative;
    top: 100px;
    left: 80px;
    width: 300px;
    margin-top: 150px;
}
#boldfont{
    position: absolute;
    font-weight: 700;
    font-size: 120px;
    top: -50px;
    left: -30px;
}
#boldfontgray{
    font-weight: 700;
    font-size: 120px;
    color: rgb(163, 163, 163);
}
/* 포트폴리오 프로젝트 */
/* 2019m3 프로젝트 */
.portfolio{
    position: relative;
}
.projectname1{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 60px;
}
.projectint1{
    position: absolute;
    right: 320px;
    top: 100px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg1 img{
    width: 30%;
    position: absolute;
    right: 0px;
}
#M20193M{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid black;
    position: relative;
}
.projectname2{
    position: absolute;
    left: 70px;
    top: 180px;
    font-size: 30px;
}
.projectint2{
    position: absolute;
    left: 70px;
    top: 220px;
    font-weight: 100;
    font-size: 20px;
}
/* 20194 */
#M20194M{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    margin-top: 280px;
    padding-top: 20px;
    border-top: 1px solid black;
}
.projectname3{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 70px;
}
.projectint3 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint3{
    position: absolute;
    right: 320px;
    top: 110px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg3 img{
    width: 30%;
    position: absolute;
    right: 0px;
}
.projectname4{
    position: absolute;
    left: 320px;
    top: 240px;
    font-size: 30px;
}
.projectint4{
    position: absolute;
    left: 320px;
    top: 280px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg4 img{
    width: 30%;
    position: absolute;
    left: 0px;
    top: 200px;
}
.projectname5{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 430px;
}
.projectint5 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint5{
    position: absolute;
    right: 320px;
    top: 470px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg5 img{
    width: 30%;
    position: absolute;
    right: 0px;
    top: 380px;
}
/* 20201 */
#M20201M{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    margin-top: 560px;
    padding-top: 20px;
    border-top: 1px solid black;
}
.projectname6{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 80px;
}
.projectint6 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint6{
    position: absolute;
    right: 320px;
    top: 120px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg6 img{
    width: 30%;
    position: absolute;
    right: 0px;
}
.projectname7{
    position: absolute;
    left: 320px;
    top: 250px;
    font-size: 30px;
}
.projectint7{
    position: absolute;
    left: 320px;
    top: 290px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg7 img{
    width: 30%;
    position: absolute;
    left: 0px;
    top: 200px;
}
.projectname8{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 440px;
}
.projectint8 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint8{
    position: absolute;
    right: 320px;
    top: 480px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg8 img{
    width: 30%;
    position: absolute;
    right: 0px;
    top: 380px;
}
/* 20202 */
#M20202M{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    margin-top: 370px;
    padding-top: 20px;
    border-top: 1px solid black;
}
.projectname8{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 80px;
}
.projectint8 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint8{
    position: absolute;
    right: 320px;
    top: 120px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg8 img{
    width: 30%;
    position: absolute;
    right: 0px;
    top: 30px;
}
.projectname9{
    position: absolute;
    left: 320px;
    top: 250px;
    font-size: 30px;
}
.projectint9{
    position: absolute;
    left: 320px;
    top: 290px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg9 img{
    width: 30%;
    position: absolute;
    left: 0px;
    top: 200px;
}
/* 20203 */
#M20203M{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    margin-top: 370px;
    padding-top: 20px;
    border-top: 1px solid black;
}
.projectname10{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 70px;
}
.projectint10 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint10{
    position: absolute;
    right: 320px;
    top: 110px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg10 img{
    width: 30%;
    position: absolute;
    right: 0px;
}
.projectname11{
    position: absolute;
    left: 320px;
    top: 240px;
    font-size: 30px;
}
.projectint11{
    position: absolute;
    left: 320px;
    top: 280px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg11 img{
    width: 30%;
    position: absolute;
    left: 0px;
    top: 200px;
}
.projectname12{
    position: absolute;
    right: 320px;
    font-size: 30px;
    top: 430px;
}
.projectint12 p {
    position: absolute;
    right: 0px;
    top: 0px;
}
.projectint12{
    position: absolute;
    right: 320px;
    top: 470px;
    font-weight: 100;
    font-size: 20px;
}
.projectimg12 img{
    width: 30%;
    position: absolute;
    right: 0px;
    top: 380px;
}
/* 어빌리티 */
#myability{
    position: relative;
    top: 500px;
    left: 80px;
    width: 800px;
}
.graph{
    position: relative;
    width: 800px;
    margin: 0px auto;
    margin-top: 700px;
}
#line{
    width: 800px;
    border: 2px solid grey;
}
.sp1{
    margin: 0 10px;
    width: 100px;
    height: 60px;
    background-color: grey;
    position: absolute;
    bottom: 0px;
    left: 30px;
}
.sp2{
    margin: 0 10px;
    width: 100px;
    height: 150px;
    background-color: rgb(102, 102, 102);
    position: absolute;
    bottom: 0px;
    left: 180px;
}
.sp3{
    margin: 0 10px;
    width: 100px;
    height: 200px;
    background-color: rgb(70, 70, 70);
    position: absolute;
    bottom: 0px;
    left: 42%
}
.sp4{
    margin: 0 10px;
    width: 100px;
    height: 250px;
    background-color: rgb(62, 62, 62);
    position: absolute;
    bottom: 0px;
    right: 180px;
}
.sp5{
    margin: 0 10px;
    width: 100px;
    height: 350px;
    background-color: rgb(39, 39, 39);
    position: absolute;
    bottom: 0px;
    right: 30px;
}
#sp{
    display: flex;
    position: relative;
    padding-top: 400px;
    margin-bottom: 200px;
}
#container{
    height: 100px;
    margin: 0px auto;
    background-color: rgb(194, 192, 192);
    text-align: center;
    margin-top: 500px;
}
#text{
    color: #fff;
    font-size: 20px;
    padding-top: 40px;
}
/* 스킬 */
.skills{
    color: white;
    position: relative;
    line-height: 30px;
}
.skills1{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgb(95, 95, 95), rgb(82, 82, 82));
    font-weight: 100;
    padding: 20px 20px;
    font-size: 20px;
    position: absolute;
    top: -800px;
    left: 29%;
}
.skills1:hover{
    background-image: url(image/지금까지의\ 거캠.png);
    background-size: 100%;
}
#tptp1{
    width: 20px;
    height: 20px;
    background-color: rgb(95, 95, 95);
    position: absolute;
    bottom: -30px;
    left: 130px;
    border-radius: 100px;
}
.skills2{
    width: 250px;
    height: 300px;
    background: linear-gradient(to bottom, rgb(70, 70, 70), rgb(58, 58, 58));
    font-weight: 100;
    padding: 20px 20px;
    font-size: 20px;
    position: absolute;
    top: -130px;
    left: 40%;
}
#tptp2{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 70, 70);
    position: absolute;
    top: -30px;
    left: 130px;
    border-radius: 100px;
}
.skills2:hover{
    background-image: url(image/앞으로의\ 거캠.png);
    background-size: 100%;
}
.skills3{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgb(62, 62, 62), rgb(49, 49, 49));
    font-weight: 100;
    padding: 20px 20px;
    font-size: 20px;
    position: absolute;
    top: -930px;
    left: 51.5%;
}
#tptp3{
    width: 20px;
    height: 20px;
    background-color: rgb(62, 62, 62);
    position: absolute;
    bottom: -30px;
    left: 130px;
    border-radius: 100px;
}
.skills4{
    width: 250px;
    height: 300px;
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(27, 27, 27));
    font-weight: 100;
    padding: 20px 20px;
    font-size: 20px;
    position: absolute;
    top: -130px;
    right: 17.5%;
}
#tptp4{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 70, 70);
    position: absolute;
    top: -30px;
    left: 130px;
    border-radius: 100px;
}